<!DOCTYPE html>
<html>
   <head>
      <title>YelpCamp</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
      <!--<link rel="stylesheet" href="/stylesheets/main.css">-->
      <link rel="stylesheet" href="/stylesheets/css/now-ui-kit.css">
      <link rel="stylesheet" href="/stylesheets/css/demo.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   </head> 
  

<div class="login-page sidebar-collapse">
    <div class="page-header">
        <div class="page-header-image" style="background-image:url(https://i.imgur.com/lDKGrS4.jpg)"></div>
        <div class="container">
            <div class="col-md-4 content-center">
                <div class="card card-login card-plain">
                    <form action="/login" class="form" method="POST">
                        <div class="header header-primary header-tight text-center">
                           
                            
                            <div class="logo-container">
                                <img src="/assets/mountains.svg" alt="">
                            </div>
                            <h4>Welcome to </h4>
                            <h2>HOOPCAMP</h2>
                        </div>
                        <div class="content">
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="fa fa-user-o" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" type="text" name="username" placeholder="username"></input>
                            </div>
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="fa fa-unlock" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" type="password" name="password" placeholder="password"></input>
                            </div>
                        </div>
                        <div class="footer text-center">
                            <input class="btn btn-info btn-round btn-lg btn-block" type="submit" value="login"></input>
                        </div>
                        <div class="pull-left">
                            <h6>
                                <a href="/register" class="link">Create Account</a>
                            </h6>
                        </div>
                        <div class="pull-right">
                            <h6>
                                <a href="/" class="link">Go Home</a>
                            </h6>
                        </div>
                    </form>
                </div>
            </div>
        </div>
     </div>
 </div>
      
    
<% include ./partials/footer %>

